apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-db
  template:
    metadata:
      labels:
        app: notes-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 6000
          env:
            - name: POSTGRES_DB
              value: "notesdb"
            - name: POSTGRES_USER
              value: "notesuser"
            - name: POSTGRES_PASSWORD
              value: "notespwd"
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: pgdata-pvc
