apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: notes-web-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: notes-web
  minReplicas: 1
  maxReplicas: 7
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 60
